<footer>
    <div style ="align-content: center;" class="footer-content">
      <div class="footer-left">
        <i class="fas fa-copyright"></i><p>copyright All rights reserved.</p>  
        <p style="margin-left: 10px;">contact us <a href="mailto:legendtonystark1@gmail.com"><i class="fas fa-envelope"></i></a></p> 
      </div>
    </div>
  </footer>
  